.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: solid 1px $c-m-dark;
}

/** ABILITIES **/
.title {
  background-repeat: no-repeat;
  background-position-x: left;
  color: antiquewhite;
  border: none;
  padding-left: 5px;
  &.mental {
    background-image: url(../assets/stars.png);
  }
  &.physical {
    background-image: url(../assets/physical.png);
  }
  &.classes {
    background-image: url(../assets/classes.png);
  }
}

.ability {
  padding-top: 5px;
  border: 2px solid $c-m-dark;
  border-radius: 5px;

  input {
    font-size: var(--font-size-16);
    width: 32px;
    margin: 6px;
  }
}

.status {
  padding-top: 5px;
  border: 2px solid $c-m-dark;
  border-radius: 5px;

  &.active {
    box-shadow: inset 0px 0px 5px 2px red;
  }
}